## Dictionaries (Continued)

In [23]:
product_a = {"name":"Fried Chicken","price":100}
product_b = {"name":"Coke","price":20}
product_c = {"name":"Hamburger","price":120}

products = [product_a,product_b,product_c]

In [24]:
products

[{'name': 'Fried Chicken', 'price': 100},
 {'name': 'Coke', 'price': 20},
 {'name': 'Hamburger', 'price': 120}]

In [25]:
products.append({"name":"French Fries","price":30})

In [26]:
products

[{'name': 'Fried Chicken', 'price': 100},
 {'name': 'Coke', 'price': 20},
 {'name': 'Hamburger', 'price': 120},
 {'name': 'French Fries', 'price': 30}]

In [28]:
product_dictionary = {
                        "fries":{"name":"Fries","price":30},
                        "coke":{"name":"Coke","price":20},
                        "friedchicken":{"name":"Fried Chicken","price":100},
                        "hamburger":{"name":"Hamburger","price":30}
                     }

In [29]:
product_dictionary

{'coke': {'name': 'Coke', 'price': 20},
 'friedchicken': {'name': 'Fried Chicken', 'price': 100},
 'fries': {'name': 'Fries', 'price': 30},
 'hamburger': {'name': 'Hamburger', 'price': 30}}

In [30]:
product_dictionary["coke"]

{'name': 'Coke', 'price': 20}

In [32]:
product_dictionary["coke"]["price"]

20

In [33]:
coke = product_dictionary["coke"]

In [34]:
coke

{'name': 'Coke', 'price': 20}

In [35]:
coke["price"]

20

### In-class exercise: create an online shopping cart

In [37]:
cart = []

In [38]:
cart.append({"product":"coke","qty":2})

In [39]:
cart

[{'product': 'coke', 'qty': 2}]

In [40]:
cart.append({"product":"fries","qty":3})

In [41]:
cart

[{'product': 'coke', 'qty': 2}, {'product': 'fries', 'qty': 3}]

In [61]:
def update_cart_balance(cart):
    
    for item in cart:
        qty = item["qty"]
        product = item["product"]
        price = product_dictionary[product]["price"]
        subtotal = qty * price
        print(subtotal)
        item["subtotal"] = subtotal

In [62]:
update_cart_balance(cart)

40
90

In [63]:
cart

[{'product': 'coke', 'qty': 2, 'subtotal': 40},
 {'product': 'fries', 'qty': 3, 'subtotal': 90}]

## Value swapping

In [12]:
a = 10
b = 12

print(a)
print(b)

10
12

In [13]:
#initialize a third variable
c = 0
# c in this case is known as a temp or swap variable
c = a
a = b
b = c

print(a)
print(b)

12
10

In [14]:
a = 10
b = 12

print(a)
print(b)

10
12

In [15]:
a,b = 11,12

print(a)
print(b)

11
12

In [16]:
a,b = b,a

print(a)
print(b)

12
11

In [20]:
a,b = 11,12

for i in range(0,10):
    a,b = b,b+a
    print(str(a)+","+str(b))

12,23
23,35
35,58
58,93
93,151
151,244
244,395
395,639
639,1034
1034,1673