## More Tips and Exercises

In [1]:
def define_product(code,name,price):
    print({"code":code,"name":name,"price":price})

espresso = {'code':'espresso','name':'Espresso','price':150}

# brute-force way to call the function: spell out parameters
define_product(espresso["code"],espresso["name"],espresso["price"])
print("--------")
# one asterisk only uses the list comprehension for dictionaries, which is just the keys
# wrong output!
define_product(*espresso)
print("--------")
# double asterisk allows us to get the actual mapping (value) for the keys
define_product(**espresso)

{'code': 'espresso', 'name': 'Espresso', 'price': 150}
--------
{'code': 'code', 'name': 'name', 'price': 'price'}
--------
{'code': 'espresso', 'name': 'Espresso', 'price': 150}

### String functions

In [40]:
namestr="Joseph Benjamin R Ilagan"

print((namestr[0:2]+namestr[7:10]).upper())

JOBEN

In [57]:
namestr = "Management Engineering"

words = namestr.split(" ")

In [58]:
print(words[1]+" "+words[0])

Engineering Management

In [100]:
square = [['D','A','A','X'],
          ['A','O','A','X'],
          ['X','A','O','M'],
          ['A','X','A','R']
         ]

In [150]:
# find the string contained in the diagonal of a square

square = [['D','A','A','X'],
          ['A','O','A','X'],
          ['X','A','O','M'],
          ['A','X','A','R']
         ]

diagonal_string = []

length_of_square = 4

for i in range(0,length_of_square):
    for j in range(0,length_of_square):
        if(i==j):
            diagonal_string.append(square[i][j])
            
"".join(diagonal_string)

'DOOR'

### Debugging

#### Common for loop errors

In [ ]:
# Note that this stops at 10-1, not 10 itself
[i for i in range(1,10)]

In [96]:
# Forgetting the range
[i for i in (1,10)]

[1, 10]

#### Assuming a full list when a set (without duplicates) is returned

In [97]:
list("Joben Ilagan")

['J', 'o', 'b', 'e', 'n', ' ', 'I', 'l', 'a', 'g', 'a', 'n']

In [98]:
set("Joben Ilagan")

{' ', 'I', 'J', 'a', 'b', 'e', 'g', 'l', 'n', 'o'}

#### Tracing through code done by someone else and working with non-friendly variable and function names

In [153]:
# What is the output of this function?
#-- at 0
#-- at 3

def i_love_bitcoin(moon):
    stash = 0
    for lambo in range(0,moon+1):
        stash += lambo*2
        print(stash,end=" ")
        
    return stash

i_love_bitcoin(10)

0 2 6 12 20 30 42 56 72 90 110

110

### Math (without necessarily using ```math```)

In [154]:
# get square root
x = 4 ** (1/2)
x

2.0

In [157]:
y = 5 ** (1/2)
y

2.23606797749979

In [89]:
## using math
import math

x = math.sqrt(4)
x

2.0

#### review modulo

In [91]:
x = 5
print(x / 2)
print(x // 2)
print(x % 2)

2.5
2
1

### determine numeric characteristics

#### how to tell if a number is prime

#### how to tell if a number is a perfect square

## Python operator precedence

Print this out for the exam:

[Complete Python Operator Precedence Table](https://docs.python.org/3/reference/expressions.html#operator-precedence)

In [117]:
10 * 1 / 2

2.0

In [121]:
5 / 2 + 1

3.5

In [158]:
(5/2) + 1

3.5

In [159]:
5 / (2+1)

1.6666666666666667

In [160]:
10 ** 1 / 2

5.0

In [161]:
10 ** (1/2)

3.1622776601683795

### Variable names

In [79]:
assignment = "Great"

In [80]:
assignment1 = "Cool"

In [162]:
1assignment = "Not cool"

SyntaxError: invalid syntax (<ipython-input-162-2cb4be4313bb>, line 1)

In [82]:
assignment-two = "Not good"

SyntaxError: can't assign to operator (<ipython-input-82-4da10fcb9a4b>, line 1)

In [83]:
assignment3! = "no way"

SyntaxError: invalid syntax (<ipython-input-83-f991a351152c>, line 1)

### Input

In [ ]:
# If you expect a number, use int(...)

x = int(input("Enter a number"))
if(x>0):
    print("Do something")

### Logical Operators

In [1]:
(1==1 and 2==2)

True

In [2]:
(1==1 or 1==2)

True

In [3]:
(1<2 and 1<10)

True

In [4]:
a=1
(a<=1 and a<10)

True

In [78]:
a<=1 or a<10

True

In [6]:
satoshi = {
    "name":"Satoshi Nakamoto",
    "age":60,
    "is_pwd":False
}

vitalik = {
    "name":"Vitalik Buterin",
    "age":25,
    "is_pwd":False
}

def entitled_to_discount(customer):

    if(customer["age"]>=60 or
       customer["is_pwd"]):
        return True
    else:
        return False

In [7]:
entitled_to_discount(satoshi)

True

In [135]:
entitled_to_discount(vitalik)

False

### Series and Sequences

#### Triangular Numbers

In [60]:
def triangular(x):
    next = 0
    for i in range(1,x+1):
        next += i
        print(next, end=" ")

In [61]:
triangular(10)

1 3 6 10 15 21 28 36 45 55

#### Squares

In [62]:
def squares(x):
    for i in range(1, x+1):
        print(i**2, end=" ")

In [63]:
squares(10)

1 4 9 16 25 36 49 64 81 100

#### Triangle Drawings (Review)

In [55]:
set_value = -99

## Left-aligned triangle
row = 1
while(set_value < 5):
    for j in range(1, row+1):
        print("*", end = ' ')
        set_value+=1
    row += 1
    print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *

In [131]:
set_value = -10

def sequence_generator(n):
    for i in range(0,n):
        yield i
        
seqgen = sequence_generator(100)

## Left-aligned triangle
row = 1
while(set_value < 50):
    for j in range(1, row+1):
        print(next(seqgen), end = ' ')
        set_value+=1
    row += 1
    print("")

0
1 2
3 4 5
6 7 8 9
10 11 12 13 14
15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31 32 33 34 35
36 37 38 39 40 41 42 43 44
45 46 47 48 49 50 51 52 53 54
55 56 57 58 59 60 61 62 63 64 65

In [8]:
print("some string".upper())

SOME STRING

### JSON

**Wikipedia:**
    
In computing, JavaScript Object Notation (JSON) (/ˈdʒeɪsən/ "Jason",[1] /ˈdʒeɪsɒn/) is an open-standard file format that uses human-readable text to transmit data objects consisting of attribute–value pairs and array data types (or any other serializable value). It is a very common data format used for asynchronous browser–server communication, including as a replacement for XML in some AJAX-style systems.[2]

JSON is a language-independent data format. It was derived from JavaScript, but as of 2017, many programming languages include code to generate and parse JSON-format data. The official Internet media type for JSON is application/json. JSON filenames use the extension .json.

In [10]:
jsonstring = """
{"code":"espresso","name":"Espresso","price":"140"}
"""

In [11]:
type(jsonstring)

str

In [12]:
import json

jsondata = json.loads(jsonstring)

In [13]:
type(jsondata)

dict

In [14]:
jsondata

{'code': 'espresso', 'name': 'Espresso', 'price': '140'}

In [31]:
jsonliststring = """
[
   {"code":"espresso","name":"Espresso","price":"140"},
   {"code":"americano","name":"Americano","price":"150"},
   {"code":"cappuccino","name":"Cappuccino","price":"170"}
]
"""

In [32]:
jsonliststring2 =  """
The
quick
brown
fox
"""
        
print(jsonliststring2)

The
quick
brown
fox

In [35]:
jsondata = json.loads(jsonliststring)

In [36]:
type(jsondata)

list

In [37]:
jsondata

[{'code': 'espresso', 'name': 'Espresso', 'price': '140'},
 {'code': 'americano', 'name': 'Americano', 'price': '150'},
 {'code': 'cappuccino', 'name': 'Cappuccino', 'price': '170'}]

### Write JSON to file

In [38]:
with open('cp_menu.json', 'w') as menu_file:  # writing JSON object
    json.dump(jsondata, menu_file)

### Read JSON File

In [39]:
with open('cp_menu.json', 'r') as menu_file:  # reading JSON object
    jsondata2 = json.loads(menu_file.read())

In [40]:
jsondata2

[{'code': 'espresso', 'name': 'Espresso', 'price': '140'},
 {'code': 'americano', 'name': 'Americano', 'price': '150'},
 {'code': 'cappuccino', 'name': 'Cappuccino', 'price': '170'}]

In [28]:
type(jsondata2)

list

### More CSV

In [41]:
import csv

products = dict()

with open('products.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            pass
        else:
            products[row[0]]={"name":row[1], "price":float(row[2])}
        line_count += 1
        
products

{'americano': {'name': 'Americano', 'price': 150.0},
 'brewedcoffee': {'name': 'Brewed Coffee', 'price': 120.0},
 'cappuccino': {'name': 'Cappuccino', 'price': 170.0},
 'espresso': {'name': 'Espresso', 'price': 140.0}}

In [42]:
products_new = dict()

with open('products_new.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            pass
        else:
            products_new[row[0]]={"name":row[1], "price":float(row[2])}
        line_count += 1
        
products_new

{'americano': {'name': 'Americano', 'price': 150.0},
 'brewedcoffee': {'name': 'Brewed Coffee', 'price': 120.0},
 'cappuccino': {'name': 'Cappuccino', 'price': 170.0},
 'coldbrew': {'name': 'Cold Brew', 'price': 150.0},
 'espresso': {'name': 'Espresso', 'price': 140.0},
 'flatwhite': {'name': 'Flat White', 'price': 110.0},
 'latte': {'name': 'Latte', 'price': 150.0},
 'mocha': {'name': 'Mocha', 'price': 140.0},
 'nitro': {'name': 'Nitro Black', 'price': 200.0}}

In [212]:
class_directory = list()

with open('class_list.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            pass
        else:
            class_directory.append({"First_Name":row[0], "Last_Name":row[1]})
        line_count += 1
        
class_directory

[{'First_Name': 'Jason', 'Last_Name': 'Francisco'},
 {'First_Name': 'Karl', 'Last_Name': 'Jacinto'},
 {'First_Name': 'Joe', 'Last_Name': 'Ilagan'},
 {'First_Name': 'David', 'Last_Name': 'Malabanan'},
 {'First_Name': 'Joe', 'Last_Name': 'Ilagan'}]

## Writing to CSV files

In [208]:
import csv

with open('sales_orders.csv', 'a', newline='') as csvfile:
    order_writer = csv.writer(csvfile, quoting=csv.QUOTE_MINIMAL)
    order_writer.writerow(["code","qty","subtotal"])
    order_writer.writerow(["espresso",2,280])
    order_writer.writerow(['americano', 1, 150])
    order_writer.writerow(['latte', 1, 150])

In [43]:
# Using DictWriter

import csv

with open('sales_orders_2.csv', 'a', newline='') as csvfile:
    fieldnames = ['code', 'qty', 'subtotal']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'code': 'espresso', 'qty': 1, 'subtotal':140})
    writer.writerow({'code': 'cappuccino', 'qty': 1, 'subtotal':170})
    writer.writerow({'code': 'americano', 'qty': 1, 'subtotal':150})

In [44]:
# Using DictReader

import csv
with open('sales_orders_2.csv', newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        print(row['code'], row['subtotal'])

espresso 140
cappuccino 170
americano 150
code subtotal
espresso 140
cappuccino 170
americano 150
code subtotal
espresso 140
cappuccino 170
americano 150
code subtotal
espresso 140
cappuccino 170
americano 150
code subtotal
espresso 140
cappuccino 170
americano 150
code subtotal
espresso 140
cappuccino 170
americano 150

## More I/O Examples

In [215]:
string = "some string"

with open('some_string.txt',"w+") as file:
    file.write(string)

In [216]:
my_html = """
    <html>
        <body>
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            The <b>quick</b> brown <i>fox</i> jumps over the lazy dogs.
            <p/>
            <h3>What do you want to do next?</h3>
            <ul>
               <li> Generate HTML from Python </li>
               <li> ...
            </ul>
            <p/>
            Sample ordered list:
            <ol>
               <li> Generate HTML from Python </li>
               <li> ...
            </ol>
            <hr/>
        </body>
    </html
"""

with open('index.html',"w+") as file:
    file.write(my_html)

In [217]:
cp_menu_html = """
     <table>
         <th><td>Code</td></th><th><td>Name</td></th><th><td>Price</td></th>
         <tr><td>espresso</td></th><th><td>Espresso</td></th><th><td>140</td></tr>
         <tr><td>americano</td></th><th><td>Americano</td></th><th><td>150</td></tr>
     </table>
"""

with open('cp_menu.html',"w+") as file:
    file.write(cp_menu_html)

In [218]:
menu_html = """
    <html>
        <body>
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            The <b>quick</b> brown <i>fox</i> jumps over the lazy dogs.
            <p/>
            <h3>What do you want to do next?</h3>
            <ul>
               <li> Generate HTML from Python </li>
               <li> ...
            </ul>
            <hr/>
            <h3>Menu</h3>
            {}
        </body>
    </html
"""

main_html = menu_html.format(cp_menu_html)

with open('cp_menu.html',"w+") as file:
    file.write(main_html)

In [219]:
menu = [{"code":"espresso","name":"Espresso","price":140},
        {"code":"americano","name":"Americano","price":150},
       ]

cp_menu_html = """
     <table>
         <th><td>Code</td></th><th><td>Name</td></th><th><td>Price</td></th>
         {}
     </table>
"""

cp_menu_table = ""
for i in menu:
    cp_menu_row = cp_menu_row + "<tr>"
    cp_menu_row = cp_menu_row + "<td>"+i["code"]+"</td>"
    cp_menu_row = cp_menu_row + "<td>"+i["name"]+"</td>"
    cp_menu_row = cp_menu_row +  "<td>"+str(i["price"])+"</td>"
    cp_menu_row = cp_menu_row + "</tr>"
    cp_menu_table = cp_menu_table + cp_menu_row
    cp_menu_table = cp_menu_table + "</tr>"
    

main_html = menu_html.format(cp_menu_html.format(cp_menu_table))

with open('cp_menu.html',"w+") as file:
    file.write(main_html)

## Classes and Objects

In [2]:
class Parent:
    
    def doSomething(self):
        print("Hello world")
        
parent = Parent()

parent.doSomething()

Hello world

In [4]:
class Child(Parent):
    
    def doSomething(self):
        print("Hello mama/papa")

In [5]:
person = Child()

person.doSomething()

Hello mama/papa

In [7]:
class Animal:
    
    def make_sound(self):
        print("silence...")
        
class Dog(Animal):
    
    def make_sound(self):
        print("arf!")
        
class Cat(Animal):
    
    def make_sound(self):
        print("meow")
        
def delight(animal):
    animal.make_sound()

In [8]:
fido = Dog()
kitler = Cat()

delight(fido)
delight(kitler)

arf!
meow

In [10]:
class Animal:
    
    def __init__(self,name):
        self.name = name
    
    def make_sound(self):
        print("silence...")
        
class Dog(Animal):
    
    def make_sound(self):
        print("arf!")
        
class Cat(Animal):
    
    def make_sound(self):
        print("meow")
        
def delight(animal):
    animal.make_sound()

In [16]:
fido = Dog("Fido")
kitler = Cat("Kitler")

print(fido.name)
print(kitler.name)

delight(fido)
delight(kitler)

Fido
Kitler
arf!
meow

In [17]:
fido.food = "bones"

In [18]:
kitler.food = "mice"

In [19]:
fido.food

'bones'

In [20]:
kitler.food

'mice'

In [22]:
def ask_food(animal):
    return(animal.food)

print(ask_food(fido))
print(ask_food(kitler))

bones
mice

### More Practical Examples