# Discussion on Gaps from the Crash Course
Joben Ilagan
joben.ilagan@gmail.com
ITMGT 25.3 EE

## Variable and Function Naming

In [ ]:
# naming conventions
# camelCase -- firstString, nextString
# kebab-case -- first-string, next-string --> won't work in Python
# snake_case -- first_string, next_string

## Variable Assignments

## More on Strings

In [ ]:
'spam eggs'  # single quotes

In [2]:
'spam eggs'

'spam eggs'

In [4]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [5]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [6]:
"doesn't"

"doesn't"

In [7]:
'"Yes," they said.'

'"Yes," they said.'

In [8]:
"\"Yes,\" they said."

'"Yes," they said.'

In [9]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [10]:
print('"Isn\'t," they said.')

"Isn't," they said.

### String concatenation

In [11]:
# naming conventions
# camelCase -- firstString, nextString
# kebab-case -- first-string, next-string --> won't work in Python
# snake_case -- first_string, next_string

first_string = "Part of the "
second_string = "string."
combined_string = first_string + second_string
combined_string

'Part of the string.'

In [12]:
type(combined_string)

str

In [13]:
aa = 1
type(aa)

int

In [14]:
bb = 1.5
type(bb)

float

In [15]:
# additional functions
combined_string.upper()

'PART OF THE STRING.'

In [16]:
combined_string.lower()

'part of the string.'

In [17]:
combined_string.upper().lower()

'part of the string.'

In [18]:
combined_string.split()

['Part', 'of', 'the', 'string.']

## Lists

In [19]:
# Lists

squares = [1, 4, 9, 16, 25]

In [20]:
print(squares)

[1, 4, 9, 16, 25]

In [21]:
type(squares)

list

In [22]:
squares_tuple = (1, 4, 9, 16, 25)

In [23]:
squares_tuple

(1, 4, 9, 16, 25)

In [24]:
type(squares_tuple)

tuple

In [25]:
squares[0]  # indexing returns the item

1

In [26]:
squares[3]

16

In [27]:
squares[-1] # returns last element

25

In [28]:
squares[-2] # returns second to the last element

16

In [29]:
squares[0:2]

[1, 4]

In [30]:
# indexing and slicing

squares[-4:-2] # take the fourth to the last up to the third to the last

[4, 9]

In [31]:
squares[0:] # from zero to end

[1, 4, 9, 16, 25]

In [32]:
squares[2:]

[9, 16, 25]

In [33]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [34]:
# List containing elements of different types
mixed = ["A",True,1,1.5,True]
print(mixed)

['A', True, 1, 1.5, True]

In [35]:
# List containing sublists
mixed2 = ["A",True,1,1.5,True,[1,2,3,"a","b","c"]]
print(mixed2)

['A', True, 1, 1.5, True, [1, 2, 3, 'a', 'b', 'c']]

### more indexing and slicing

In [36]:
mylist = ['one','two','three']

In [37]:
mylist[0]

'one'

In [38]:
mylist[1:]

['two', 'three']

In [39]:
another_list = ['four','five']

In [40]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

## strings behave like lists (but they're not)

In [41]:
mystring = "The quick brown fox jumps over the lazy dogs."

In [49]:
mystring

'The quick brown fox jumps over the lazy dogs.'

In [42]:
mystring[0]

'T'

In [43]:
mystring[-1]

'.'

In [44]:
mystring[-10:]

'lazy dogs.'

In [45]:
# split
mystring.split()

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dogs.']

In [46]:
wordlist = mystring.split()
wordlist[2]

'brown'

In [47]:
wordlist[2]="red"

In [48]:
wordlist

['The', 'quick', 'red', 'fox', 'jumps', 'over', 'the', 'lazy', 'dogs.']

## join function

In [ ]:
# ["The","quick","brown"]
# ' '
# The<space>quick<space>brown

In [58]:
' '.join(wordlist)

'The,quick,red,fox,jumps,over,the,lazy,dogs.'

In [51]:
type(' '.join(wordlist))

str

In [54]:
mystring_new = ' '.join(wordlist)

In [55]:
mystring_new

'The quick red fox jumps over the lazy dogs.'

In [56]:
type(mystring_new)

str

## lists are mutable

In [59]:
new_list = mylist + another_list

In [60]:
new_list

['one', 'two', 'three', 'four', 'five']

In [61]:
new_list[0] = 'ONE ALL CAPS'

In [62]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

## append and remove

In [63]:
new_list.append('six')

In [64]:
new_list # "affect in place"

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [65]:
new_list.append('seven')

In [66]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [67]:
new_list.pop() # notice that the string is returned after the pop

'seven'

In [68]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [69]:
popped_item = new_list.pop()

In [70]:
popped_item

'six'

In [71]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [72]:
third_pop = new_list.pop()

In [73]:
third_pop

'five'

In [74]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four']

In [75]:
new_list.pop(0)

'ONE ALL CAPS'

In [76]:
new_list

['two', 'three', 'four']

## sort and reverse

In [ ]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [ ]:
new_list.sort() #special in-place method, doesn't return anything

In [ ]:
new_list

In [ ]:
# some people make the following mistake:
my_sorted_list = new_list.sort()
my_sorted_list # nothing is returned nor saved

In [ ]:
my_sorted_list = new_list
my_sorted_list

In [ ]:
num_list.reverse() #also in place

In [ ]:
num_list

## Variable Scope

In [77]:
x = 1

def some_func():
    print(x)
    
some_func()

1

In [78]:
def some_other_func():
    x = "abc"
    print(x)
    
some_other_func()

abc

In [79]:
x

1

## More on Loops

### for (revisited)

#### <code>break</code> and <code>continue</code>

The ```break``` statement terminates the loop containing it. Control of the program flows to the statement immediately after the body of the loop.

If break statement is inside a nested loop (loop inside another loop), break will terminate the innermost loop.


The ```continue``` statement is used to skip the rest of the code inside a loop for the current iteration only. Loop does not terminate but continues on with the next iteration.

In [84]:
class_list = ["Alice","Bob","Charlie","David"]
for name in class_list:
    print(name)
    if(name=="Charlie"):
        print("Charlie spotted.")
        break
else:
    print("Charlie not found")

Alice
Bob
Charlie
Charlie spotted.

In [85]:
class_list = ["Alice","Bob","David"]
for name in class_list:
    print(name)
    if(name=="Charlie"):
        print("Charlie spotted.")
        break
else:
    print("Charlie not found")

Alice
Bob
David
Charlie not found

In [ ]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
       # loop fell through without finding a factor
       print(n, 'is a prime number')

**```while```** loops

In [ ]:
message = ""
while(message!="quit"):
    message=input("Enter command: ")
    print("You typed: "+message)

In [87]:
# number guessing game
num = 18
tries = 0
guessed_number=-1
while(guessed_number!=num):
    tries += 1
    guessed_number=int(input("Guess number!"))
    if(guessed_number>num):
        print("Lower!")
    elif(guessed_number<num):
        print("Higher.")
    else:
        print(":-)")
        break
        
    print("Try again.")
    
print("You got it right after "+str(tries)+" tries!")

Guess number!100
Lower!
Try again.
Guess number!0
Higher.
Try again.
Guess number!10
Higher.
Try again.
Guess number!20
Lower!
Try again.
Guess number!19
Lower!
Try again.
Guess number!15
Higher.
Try again.
Guess number!18
:-)
You got it right after 7 tries!

## Advanced Assignments

## New topics

### Sets and Dictionaries

In [89]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [90]:
print(basket) # show that duplicates have been removed

{'pear', 'banana', 'apple', 'orange'}

In [91]:
'orange' in basket                 # fast membership testing

True

In [92]:
'crabgrass' in basket

False

In [93]:
a = set('abracadabra')

In [94]:
a

{'a', 'b', 'c', 'd', 'r'}

In [95]:
b = set('alacazam')

In [96]:
b

{'a', 'c', 'l', 'm', 'z'}

In [97]:
type(a)

set

In [ ]:
a                                  # unique letters in a

In [98]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [99]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [100]:
a & b                              # letters in both a and b

{'a', 'c'}

In [101]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [102]:
a = {x for x in 'abracadabra' if x not in 'abc'}

In [103]:
a

{'d', 'r'}

In [104]:
# dictionary

# key-value pairs
# name-value pairs


tel = {'jack': 4098, 'sape': 4139}

In [105]:
tel

{'jack': 4098, 'sape': 4139}

In [106]:
tel['jack']

4098

In [107]:
tel['guido'] = 4127

In [108]:
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [ ]:
tel['jack']

In [109]:
del tel['sape']

In [110]:
tel['irv'] = 4127

In [111]:
tel

{'guido': 4127, 'irv': 4127, 'jack': 4098}

In [112]:
tel['irv']=9999

In [113]:
tel

{'guido': 4127, 'irv': 9999, 'jack': 4098}

In [114]:
list(tel)

['jack', 'guido', 'irv']

In [115]:
sorted(tel)

['guido', 'irv', 'jack']

In [116]:
type(list(tel))

list

In [117]:
'guido' in tel

True

In [118]:
'jack' not in tel

False

In [119]:
#Performing list(d) on a dictionary returns a list of all the keys used in the dictionary, 
#in insertion order (if you want it sorted, just use sorted(d) instead). 
#To check whether a single key is in the dictionary, use the in keyword.

for y in tel:
    print(y)

jack
guido
irv